In [1]:
import pandas

In [2]:
df = pandas.read_excel("Apples.xlsx")

In [3]:
df.head(15)

,"CPI Average Price Data, U.S. city average (AP)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,APU0000711111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Series Title:,"Apples, Red Delicious, per lb. (453.6 gm) in U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Area:,U.S. city average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Item:,"Apples, Red Delicious, per lb. (453.6 gm)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Years:,1980 to 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
9,1980,0.554,0.574,0.593,0.634,0.663,0.701,0.753,0.807,0.702,0.57,0.496,0.503
10,1981,0.512,0.504,0.525,0.529,0.531,0.546,0.577,0.662,0.63,0.565,0.582,0.617
11,1982,0.639,0.645,0.648,0.63,0.667,0.722,0.733,0.683,0.627,0.58,0.537,0.556
12,1983,0.545,0.538,0.532,0.559,0.584,0.615,0.622,0.673,0.707,0.574,0.562,0.568
13,1984,0.579,0.608,0.64,0.644,0.645,0.682,0.712,0.732,0.717,0.635,0.651,0.636
14,1985,0.654,0.676,0.677,0.695,0.71,0.723,0.721,0.705,0.671,0.639,0.665,0.675

In [4]:
item = df.iloc[5][1]
item

'Apples, Red Delicious, per lb. (453.6 gm)'

In [5]:
df.columns

Index(['CPI Average Price Data, U.S. city average (AP)', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

In [6]:
column_names = []
for number in range(0, 13):
    column_names.append(number)
column_names

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [7]:
column_names = list(range(0, 13))
column_names[0] = 'year'
column_names

['year', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [8]:
df.columns = column_names
df.head(15)

,year,1,2,3,4,5,6,7,8,9,10,11,12
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,APU0000711111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Series Title:,"Apples, Red Delicious, per lb. (453.6 gm) in U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Area:,U.S. city average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Item:,"Apples, Red Delicious, per lb. (453.6 gm)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Years:,1980 to 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
9,1980,0.554,0.574,0.593,0.634,0.663,0.701,0.753,0.807,0.702,0.57,0.496,0.503
10,1981,0.512,0.504,0.525,0.529,0.531,0.546,0.577,0.662,0.63,0.565,0.582,0.617
11,1982,0.639,0.645,0.648,0.63,0.667,0.722,0.733,0.683,0.627,0.58,0.537,0.556
12,1983,0.545,0.538,0.532,0.559,0.584,0.615,0.622,0.673,0.707,0.574,0.562,0.568
13,1984,0.579,0.608,0.64,0.644,0.645,0.682,0.712,0.732,0.717,0.635,0.651,0.636
14,1985,0.654,0.676,0.677,0.695,0.71,0.723,0.721,0.705,0.671,0.639,0.665,0.675

In [9]:
df = df.drop(range(0, 9))
df.head()

,year,1,2,3,4,5,6,7,8,9,10,11,12
9,1980,0.554,0.574,0.593,0.634,0.663,0.701,0.753,0.807,0.702,0.57,0.496,0.503
10,1981,0.512,0.504,0.525,0.529,0.531,0.546,0.577,0.662,0.63,0.565,0.582,0.617
11,1982,0.639,0.645,0.648,0.63,0.667,0.722,0.733,0.683,0.627,0.58,0.537,0.556
12,1983,0.545,0.538,0.532,0.559,0.584,0.615,0.622,0.673,0.707,0.574,0.562,0.568
13,1984,0.579,0.608,0.64,0.644,0.645,0.682,0.712,0.732,0.717,0.635,0.651,0.636

In [10]:
df = pandas.melt(df, id_vars=['year'], value_vars=df.columns[1:])
df.columns = ['year', 'month', 'value']
df['item'] = item
df.head()

   year month  value                                       item
0  1980     1  0.554  Apples, Red Delicious, per lb. (453.6 gm)
1  1981     1  0.512  Apples, Red Delicious, per lb. (453.6 gm)
2  1982     1  0.639  Apples, Red Delicious, per lb. (453.6 gm)
3  1983     1  0.545  Apples, Red Delicious, per lb. (453.6 gm)
4  1984     1  0.579  Apples, Red Delicious, per lb. (453.6 gm)